*{
    padding:0;
    margin:0;
    font-family: 'monospace';
}

body {
    background-color: black;
    color: white;
    min-height: 3000px;
}
section.obj {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.menu {
    position: fixed;
    top:10px;
    right: 10px;
    padding: 1em;
    cursor: pointer;
    display: block;
    letter-spacing: 3px;
    font-weight: light;
    z-index: 2;
}

.links {
    display: none;
}

.links.active {
    display: block;
    z-index: 2;
}

.container {
    min-width: 100%;
    display: flex;
    overflow-x: hidden;
}

.inter {
    padding: 5%;
    z-index: 1;
}
