*{
    padding:0;
    margin:0;
    font-family: 'monospace';
}

body {
    background-color: black;
    color: white;
    min-height: 3000px;
}
section.obj {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.nav-container {
    position: fixed;
    top:1em;
    right: 3em;
    padding: 1em;
    letter-spacing: 3px;
    font-weight: light;
}

.menu {
    cursor: pointer;
    z-index: 2;
    font-size: 18px;
    border: 1px solid white;
}

.menu.active {
    background-color: white;
    color: black;
}

.links {
    display: none;
    color: white;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
    padding: .5em;
}

a:hover {
    background-color: white;
    color: black;
    box-shadow: 1px 1px 3px rgb(243, 243, 243);
}

.links.active {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.links a {
    text-decoration: none;
}

.nav-link {
    padding-top: 1em;
    padding-right: 2em;
}

.container {
    min-width: 100%;
    display: flex;
    overflow-x: hidden;
}

.inter {
    padding: 5%;
    z-index: 1;
}
