*{
    padding:0;
    margin:0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: black;
    color: white;
    min-height: 3000px;
}
section.obj {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.nav-container {
    position: fixed;
    top:1em;
    right: 3em;
    padding: 1em;
    letter-spacing: 3px;
    font-weight: light;
    z-index: 4;
}

.menu {
    cursor: pointer;
    z-index: 2;
    font-size: 18px;
    border: 1px solid white;
}

.menu.active {
    background-color: white;
    color: black;
}

.links {
    display: none;
    color: white;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
    padding: .5em;
}

a:hover {
    background-color: white;
    color: black;
    box-shadow: 1px 1px 3px rgb(243, 243, 243);
}

.links.active {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.links a {
    text-decoration: none;
}

.nav-link {
    padding-top: 1em;
    padding-right: 2em;
}

.container {
    min-width: 100%;
    overflow-x: hidden;
}

.content{
    padding: 5%;
    z-index: 1;
}

.title {
    min-height: 100vh;
}

.title h1 {
    position: fixed;
    top: 0;
    left: 2em;
    padding: 1em;
    letter-spacing: 3px;
    font-weight: 100;
}

.box-1 {
    width: 400px;
    height: 400px;
    background-color: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    z-index: -1;
}

.txt-lrg {
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 100;
    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-50%, -50%);
    transform: scaleY(2);
    z-index: -1;
}

.about {
    clear: both;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 1em;
}

.about h1{
    font-size: 72px;
    position: relative;
    text-transform: uppercase;
    font-weight: 100;
    transform: scaleY(2);
    z-index: -2;
}

.about p {
    font-size: 16px;
    width: 40%;
    padding-top: 1em;
}

.about img {
    position: relative;
    transform: rotate(90deg);
    z-index: 3;
    left: 55%;
}

.projects {
    min-height: 100vh;
}

.projects img {
    
}
